*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    background-image:url('https://lh3.ggpht.com/eKJNS2Pj-b5obfpU96n8diVSUVxiJ70Wx529FPkBtaGLJj6kJ7CWLkur8dJ_t8rm6w=w720-h310');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center top;
    background-size:100vw 100vh;
}
header{
    background:#3385ff;
    padding:2%;
    width:280%;
}

h2{
    text-align:center;
    color:#ff0066;
    padding:0;
    margin:0;
}
.main-container{
    display:flex;
    flex-flow:row nowrap;
}

.r32-container,.r16-container,.rq-container,.sf-container,.final-container{
    display:flex;
    padding:5vw;
    flex-direction:column;

    width:40vw;
    justify-content:space-around;
    margin:0;
}


.name{
    font-family:"Comic Sans MS";
    font-size:3vw;
}

.ID{
    font-family:'Abel';
    font-size:2vw;
}

.round{
    width:20vw;
    padding:0;
    margin:5% 0;
    cursor:pointer;
}

.one{
    border-radius:20px 20px 0 0;
}

.two{
    border-radius:0 0 20px 20px;
}
.pl{
    width:100%;
    background-color:#002080;
    color:#a6ff4d;
    height:auto;
    text-align:center;
    padding:1vw;
}

.sf1 > .pl, .sf2 > .pl{
    padding-top:8vw;
    padding-bottom:8vw;
}

.vs{
    width:100%;
    background-color:#00ffcc;
    height:auto;
    color:#ff1a1a;
    text-align:center;
    font-weight:bold;
    font-size:5vw;
}

#video-frame{
    position:absolute;
    top:50%;
    left:50%;
    transform:tranlate(-50%,-50%);
    background:#333333;
    display:none;
    padding:10%;
}

#close{
    position:absolute;
    top:5%;
    right:5%;
    color: #b30000;
    font-family:"Arial Black";
    font-weight:900;
    font-size:110%;
    cursor:pointer;
}

footer{
    background:#99ff33;
    color:#666699;
    padding:0;
    width:280%;
}

.organised{
    float:right;
}
footer::after{
    content:"Any bug or error report or suggestions,mail us at pooladda2k18@gmail.com.";
    font-size:10px;
    font-style:italic;
    color:black;
    clear:both;
    display:table;
}

/*@keyframes video-pop{
    0%{
        width:20%;
        height:12%;
    }
    20%{
        width:40%;
        height:24%;
    }
    40%{
        width:60%;
        height:36%;
    }
    60%{
        width:80%;
        height:48%;
    }
    80%{
        width:90%;
        height:54%;
    }
    100%{
        width:100%;
        height:60%;
    }
}*/