*{
    box-sizing:border-box;
}

html,body{
  background:#000099;
  background-image:linear-gradient(to left top,#4d88ff,#00ccff);
  padding:0;
  margin:0;
}

header{
    cursor:pointer;
    font-size:7vw;
    background:#ffdb4d;
  background-image:linear-gradient(to bottom right,#00cc99,#00ff00,#ccff33,#f2f2f2,#ff9900,#ffcc00);
    margin:0 0 1vw 0;
}


h2{
    margin:0;
    padding:0;
    text-align:center;
    color:black;
}

h2:hover{
  color:#404040;
}

.nav-container{
  display:flex;
  flex-flow:column nowrap;
  padding : 0;
  margin: 0.5vw;
}

.navd{
    cursor:pointer;
    display:block;
    height:auto;
    background-color:#99bbff;
    color:black;
    font-weight:bolder;
    padding:1% 2% 1% 2%;
    font-size:4vw;
    border-radius:3vw;
    /*float:left;*/
}
.navd:nth-child(1){
  margin:0.5vw 0 0 0;
}
.navd:nth-child(2){
    margin:0.5vw 0 0.5vw 0;
}
.navd:nth-child(3){
  margin:0 0 0.5vw 0;
}
.navd:hover{
    background-color:#1a66ff;
}

.article{
    background:#99ebff;
    font-size:3vw;
    margin:10vw 0.6vw 3vw 0.6vw;
}

.article,.tournament-info,.tour,.Contact{
    padding:1.5vw;
    border:1px solid transparent;
    border-radius:1vw;
    font-family:"Times New Roman";
    box-shadow:0 0 3px #999999;
  margin:1vw 0.6vw 1vw 0.6vw;
}

.tournament-info{
    background:#ffe680;
    font-weight:bolder;
    border-radius:1.4vw;
  font-size:3vw;
}

.tournament-info:nth-child(2){
    margin:1vw 0.6vw 1vw 0.6vw; 
}
footer{
  position:relative;
    background:#ff7733;
    padding:2vw;
    color:white;
    text-align:center;
    text-shadow:0 0.4vw 0.5vw black; 
    font-family:"Georgia";
    font-weight:bolder;
    font-size:2vw;
    margin:2vw 0 0 0;
    width:100vw;
    bottom:0vw;
}

.Contact{
    background:#ff99cc;
    font-weight:bold;
  font-size:3.5vw;
}

.status,.duration{
    background:#ffff33;
  font-size:2vw;
}

.status,.duration,.stat-val,.dur-val{
    text-decoration:underline;
    font-weight:normal;
  font-size:2.8vw;
}

.Tournament-heading{
    margin:0;
    padding:0;
  font-size:3.5vw;
}

.tour{
    margin-top:1%;
    margin-bottom:1%;
    background:#99ff99;
}

.logo{
  text-align:center;
  font-size:6vw;
  text-shadow:0.6vw 1vw 1vw #ff0000;
  color:#e6e600;
  margin:3vw 0 3vw 0;
  animation:logo_rotate 4s linear infinite;
}

@keyframes logo_rotate
{
  0%{transform:rotateY(0deg);}
  12.5%{transform:rotateY(45deg);}
  25%{transform:rotateY(90deg);}
  37.5%{transform:rotateY(135deg);}
  50%{transform:rotateY(180deg);}
  62.5%{transform:rotateY(225deg);}
  75%{transform:rotateY(270deg);}
  87.5%{transform:rotateY(315deg);}
  100%{transform:rotateY(360deg);}
}

.pic{
  display:inline-block;
  margin:2vw;
}

.pic-1{
  border-radius:50%;
  margin:0;
  width:25vw;
  height:25vw;
  border:0.3vw solid black;
  opacity:0.2;
  transition:all 0.6s;
}

.pic-1:hover{
  transform:rotate(360deg);
  opacity:1;
}


@keyframes opacity_anim{
  0%
  {
    transform:rotateZ(90deg);
    opacity:0.6;
  }
  35%
  {
    transform:rotateZ(180deg);
    opacity:0.7;
  }
  70%
  {
    transform:rotateZ(270deg);
    opacity:0.8;
  }
  100%
  {
    transform:rotateZ(360deg);
    opacity:1;
  }
 /* 100%
  {
    transform:rotateZ(0deg);
    opacity:1;
  }*/
}

.bottom-pic-container{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-around;
}