*{
    box-sizing:border-box;
}

html{
    background:#000099;
    font-size:3vw;
}

[class*="col-"]{
    float:left;
    padding:2%;
}

.col-1{width:8.333%;}
.col-2{width:16.666%;}
.col-3{width:25%;}
.col-4{width:33.333%;}
.col-5{width:41.666%;}
.col-6{width:50%;}
.col-7{width:58.333%;}
.col-8{width:64.666%;}
.col-9{width:75%;}
.col-10{width:83.333%;}
.col-11{width:91.666%;}
.col-12{width:100%;}



.wiki-link{
    display:inline-block;
    font-family:"Garamond";
    cursor:pointer;
    text-decoration:underline;
    color:#4d4d4d;
    background:yellow;
    width:auto;
    padding:0;
    margin:0;
}


.tooltip-text{
    display:none;
    position:absolute;
    padding:0;
    border:1px solid black;
    border-radius:2%;
    background-color:#4dff4d;
    color:#ff1a1a;
    left:25%;
}

.wiki-link:hover .tooltip-text{
    display:inline-block;
}

h2{
    margin:0;
    padding:0;
    text-align:center;
    color:black;
}
.header{
    /*font-family:"Trebuchet MS";*/
    cursor:pointer;
    font-size:7vw;
    background:#ffdb4d;
}

.article{
    background:#99ebff;
    font-size:3vw;
}

.article,.tournament-info,.tour,.Contact{
    padding:2%;
    border:1px solid transparent;
    border-radius:1%;
    font-family:"Times New Roman";
    box-shadow:0 0 3px #999999;
}

.inf-container{
    display:flex;
    justify-content:space-between;
    flex-flow:row nowrap;
    margin-top:2%;
    margin-bottom:2%;
}

.tournament-info{
    width:31.333%;
    background:#ffe680;
    font-weight:bolder;
    border-radius:3%;
}

.info{
    font-size:2vw;
    text-decoration:underline;
    text-align:center;
    cursor:pointer;
    color:#ff0000;
    font-weight:bold;
}

.nav-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:center;
    margin-top:2%;
    margin-bottom:2%;
}

.navd{
    cursor:pointer;
    display:block;
    height:auto;
    background-color:#99bbff;
    color:black;
    font-weight:bolder;
    border-radius:3%;
    padding:1% 2% 1% 2%;
    font-size:4vw;
    margin-right:2%;
    word-wrap:normal;
    /*float:left;*/
}
/*
.navd::after{
    content:"";
    clear:both;
    display:table;
}

.Home::before{
    content:"";
    clear:both;
    display:table;
}
*/
.navd:hover{
    background-color:#1a66ff;
}

footer{
    background:#33adff;
    padding:2%;
    color:#cc3300;
    font-family:"Georgia";
    font-weight:bolder;
    margin-top:2%;
}

.Tournaments{
    display:flex;
    flex-flow:column nowrap;
}

.Tournament-heading{
    display:block;
    font-weight:bold;
    text-decoration:underline;
    margin:0;
    padding:0;
    cursor:pointer;
    font-size:3.5vw;
}

.tour{
    margin-top:1%;
    margin-bottom:1%;
    background:#99ff99;
}

.tour:first-child{
    margin-top:2%;
}

.status,.duration{
    background:#ffff33;
}

.val{
    text-decoration:underline;
    font-weight:normal;
}

.Contact{
    background:#ff99cc;
    font-weight:bold;
}
